{% extends 'layout.twig' %}
{% block content %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur cupiditate distinctio dolorum ducimus
        eligendi excepturi harum incidunt ipsam ipsum, magnam magni minima molestiae perspiciatis placeat quam quis
        ratione, veniam!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto deserunt enim iure pariatur
        quaerat quia quidem quod reprehenderit repudiandae! A eveniet excepturi, fugiat in natus omnis placeat
        repudiandae suscipit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at autem corporis dignissimos enim excepturi
        facere illum in incidunt ipsum laudantium nam, nihil non quis ratione rem sed tempora totam!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ex laudantium libero maiores molestias nulla,
        saepe. Accusamus cumque et harum iusto libero, nam nobis, odio perferendis, quam quibusdam sunt ullam.
    </p>
    <p>
        <a href="/new-post" class="btn btn-primary">Créer un article</a>
    </p>

{% endblock %}