{% extends 'layout.twig' %}
{% block content %}
    {% if post is defined %}
        <p>{{ post.name }}</p>
        <p>{{ post.description }}</p>
    {% else %}
        <p>Unable to find the post</p>
    {% endif %}
{% endblock %}